body{
    background-color: #4ebcd0;
}
h1{
    color: rgb(21, 51, 114);
}
table, th, td{
    border: 5px dashed black;
    text-align: center;
}

/*Add a new CSS code that changes the color of the paragraph text*/
p {
    color:rgb(44, 18, 122);
}